<nav class="container row navbar navbar-expand-lg p-5 navbar-light">
    <div class="navbar-header">
      <a href="#" class="navbar-brand d-flex flex-row">
        <img src="favicon.ico" alt="logo">
        <h3> {{ title }}</h3>        
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".myNavbar"
    aria-controls="myNavbar" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="myNavbar navbar-collapse collapse">
        <ul class="navbar-nav m-auto ">
            <li><a href="#" class="nav-link">Home</a></li>
            <li><a href="#" routerLink="/users" class="nav-link">List</a></li>
            <li><a href="#" routerLink="/sort-users" class="nav-link">Sort</a></li>
        </ul>
    </div>
</nav>
    