@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800|Raleway:300,400,600,800&subset=cyrillic');

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}